.titulo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding-top: 0%;
    text-align: center;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.rodenstock {
    max-width: 150px;
    height: auto;
    position:absolute;
    left: 90%;
    top: 2%
}

.container img {
    height: auto; 
    max-width: 1300px; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.bbteq {
    max-width: 150px;
    height: auto;
    position:absolute;
    left: 1%;
    top: 2%
}

.controldecalidad {
    position: fixed;
    top: 64%;
    left: 20.5%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    margin: -8.3%;
    margin-left: 16%;
}

.controldeproceso {
    position: fixed;
    top: 74%;
    left: 63%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    margin: -8.3%;
    margin-left: 16%;
}


.teco {
    position: fixed;
    top:91%;
    left: 27.5%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    margin: -8.3%;
    margin-left: 16%;
}


.sobreyetiqueta {
    position: fixed;
    top: 62.5%;
    left: 32.2%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    margin: -8.3%;
    margin-left: 16%;
}

.despacho {
    position: fixed;
    top: 81%;
    left: 9%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    margin: -8.3%;
    margin-left: 16%;
}

.saladedestratadoAR {
    position: fixed;
    top: 48.5%;
    left: 43.3%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    margin: -8.3%;
    margin-left: 16%;
}



.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.circle:hover {
    transform: scale(1.5,1.5); 
}

.black {
    background-color: rgb(0, 0, 0);
    align-self: center; 
}

.blue {
    background-color: rgb(19, 55, 157);
    align-self: center; 
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}